<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Write params of user!</h2>
<br>

<form th:attr="action=@{/admin/saveUser}" th:object="${userParams}">
    <div>
        <input type="hidden" th:field="*{id}">
        <label>UserName </label>
        <input type="text" th:field="*{userName}">
        <br>
        <label>Password </label>
        <input type="text" th:field="*{password}">
        <br>
        <label>Name </label>
        <input type="text" th:field="*{name}" />
        <br>
        <label>Surname </label>
        <input type="text" th:field="*{surname}" />
        <br>
        <label>Age </label>
        <input type="text" th:field="*{age}" />
        <br>
        <p> User
            <input type="checkbox" checked="true" th:value="ROLE_USER" th:name="rolesSet">
        </p>
        <p> Admin
            <input type="checkbox" th:value="ROLE_ADMIN" th:name="rolesSet">
        </p>
    </div>

    <a th:href="@{/admin/saveUser(user=${userParams})}">
        <button>Save!</button>
    </a>

</form>



</body>
</html>