<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<h2>Hello, user! Your params:</h2>
<h4><br></h4>
    <div>
        <form th:object="${user}">
            <label>ID: <span th:text="${user.id}"></span> </label>
            <br>
            <label>UserName: <span th:text="${user.userName}"></span> </label>
            <br>
            <label>Name: <span th:text="${user.name}"></span> </label>
            <br>
            <label>Surname: <span th:text="${user.surname}"></span> </label>
            <br>
            <label>Age: <span th:text="${user.age}"></span> </label>
            <br>
        </form>
    </div>

    <br>
    <br>
    <!--<form th:action="@{logOut}">
        <input type="submit" value="Log out!"/>
    </form>-->
    <input onclick="window.location.href = '/logout'" type="button" value="Logout">

</body>
</html>